#main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.Poster_section {
        border: solid black 5px;
        margin-right: 1.5em;
        margin-left: 1.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0%;
        border-radius: 10px;
        overflow: hidden;
        align-items: center;
        background-color: #000000;
}

.Poster {
    width: 20em;
    height: 25em;
    margin: 0;
    padding: 0;
}

.Poster_section a{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    color: #ffa500;
    font-style: normal;
    font-size: 0.90em;
    
}



#see_more {
    background-color: #ffa500;
    color: #ffffff;           
    border: 2px solid #000000;
    padding: 10px 20px;     
    font-size: 16px;        
    font-weight: bold;      
    border-radius: 5px;     
    cursor: pointer;        
    transition: all 0.3s ease; 
    margin-left: 46%;
}

#see_more:hover {
    background-color: #000000; 
    color: #ffa500;           
}
