#main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.search_bar {
    position: relative;
    justify-content: start;
    margin: 20px 0;
    width: fit-content;
    top: 0;
    transform: none;
}

.input {
    padding: 10px;
    width: 60px;
    height: 60px;
    background: none;
    border: 3px solid #ababff;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 20px;
    color: #ababff;
    outline: none;
    transition: all 0.8s ease;
}

.input.open {
    width: 300px;
    background: #221b3d;
    border-radius: 10px;
    color: #fff;
}

.btn_search_bar {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    background: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.btn_search_bar:hover {
    transform: scale(1.1);
}